﻿@*@model Finish.Models.ViewModels.CreateViewModels

    @{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Create</h2>

    <h4>Restaurant</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Decription" class="control-label"></label>
                    <input asp-for="Decription" class="form-control" />
                    <span asp-validation-for="Decription" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="MainPhoto"></label><br />
                    <input class="form-control" type="file" name="MainPhoto" accept="image/*" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        @*<script>
        var filesExt = ['doc', 'png', 'docx', 'docm', 'pdf', 'xlsx', 'xlsm', 'xlsb']; // массив расширений
        $(document).on('change', 'input[type=file]', function () {
        var parts = $(this).val().split('.');
        if (filesExt.join().search(parts[parts.length - 1]) == -1) {
        alert('Не подходящий формат');
        $(this).val("")
        }
        });

        $('#btn-contractFile').click(function () {
        $(".contractFile:last").clone().appendTo(".contractFilesForm").val("");
        });*@

@*</script>*@
@model Finish.Models.CreateViewModel
@{
    ViewData["Title"] = "Create";
}

@*<div>
    @Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)
</div>*@
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h2>Создать заведение</h2>
<div class="container">
    <div class="col-md-12" style="margin-top: 8px">
        <form method="post" asp-controller="Restaurants" asp-action="Create" enctype="multipart/form-data">
            <h4>Create</h4>
            <hr />
            <input type="hidden" value="@ViewBag.UserId" asp-for="UserId" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-4" style="margin-top: 8px">
                <label asp-for="Name"></label>
            </div>
            <div class="col-md-6" style="margin-top: 8px">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-4" style="margin-top: 8px">
                <label asp-for="Description"></label>
            </div>
            <div class="col-md-6" style="margin-top: 8px">
                <textarea rows="8" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-4" style="margin-top: 8px">
                <label asp-for="Image"></label><br />
            </div>
            <div class="col-md-6" style="margin-top: 8px">
                <input class="form-control" type="file" name="Logo" value="" accept="image/jpg" />
            </div>
            <div class="col-md-3" style="margin-top: 8px">
                <button type="submit" class="btn btn-default">Create</button>
            </div>

        </form>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/site.js"></script>
}

