﻿
@model Finish.Models.IndexShowViewModel

@{
    ViewData["Title"] = "All places";
}

<div class="row">
    <div class="col-md-9">@Model.Restaurant.Name
        <div>
            @Model.Restaurant.Decription
        </div>
    </div>
    @foreach (var i in Model.Images)
    {
        <div class="col-lg-3"><img src="~/@i.Name" width="200" height="150" /></div>
        <div><img src="~/@i.Path" width="30" height="30" /></div>
    }
    <div class="col-md-12">
        @foreach (var rew in Model.Reviews)
        {
            <div>@rew.Description</div>
            <div>@rew.User.FullName</div>
            <div>@rew.User.Email</div>
        }
    </div>

    

</div>