﻿@*@model Finish.Models.ViewModels.AllRestarauntsView

    @{
        ViewData["Title"] = "All places";
    }

    <div class="row">
        <div class="col-md-9">@Model.Restaurant.Name
            <div>
                @Model.Restaurant.Decription
            </div>
        </div>
        @foreach (var item in Model.Images)
        {
            <div class="col-lg-3"><img src="~/@item.Name" width="200" height="150" /></div>
            <div><img src="~/@item.Name" width="30" height="30" /></div>
        }
        <div class="col-md-12">
            @foreach (var rew in Model.Reviews)
            {
                <div>@rew.AddDateTime</div>
                <div>@rew.Description</div>
                <div>@rew.User.FullName</div>
            }
        </div>



    </div>*@

@using Finish.Models.RestaurantViewModel
@model Finish.Models.RestaurantViewModel.AllListPagingViewModel

@{
    ViewData["Title"] = "All places";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">Add a new place</a>
</p>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Имя</label>
        @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control", @type = "name" })

        <input type="submit" value="Search" class="btn btn-default" />
    </div>
</form>
@if (Model.All.Any())
{
    <div class="row" style="margin-top: 15px">
        @foreach (var item in Model.All)
        {
            <div class="col-md-3">
                <a method="get" asp-route-id="@item.Restaurant.Id" asp-action="Details" asp-antiforgery="true">
                    @foreach (var i in item.Images)
                    {
                        <img src="~/@i.Path" width="200" height="150" />
                    }
                    <div class="row">
                        <div class="col-md-1">
                            @item.Restaurant.Name
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-name="@Model.FilterViewModel.SelectedName"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    }
    if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-name="@Model.FilterViewModel.SelectedName"
           class="btn btn-default btn">
            Go
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
}
else
{
    <h2 align="center">It's empty</h2>
}

@section Scripts
    {
    <script src="~/js/site.js"></script>
}