﻿@using Microsoft.AspNetCore.Identity
@using Finish.Models
@inject UserManager<ApplicationUser> userManager;


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-area="" style="color:grey">Добро пожаловать, @userManager.GetUserAsync(User).Result.FullName</a></li>
            }
            <li>
                <a asp-area="" asp-controller="Restaurants" asp-action="Create" value="@UserManager.GetUserName(User)" title="Restaurant">Create New</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Sign up</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
